SERVER_PORT=
SERVER_MODE=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

RDB_PORT=
RDB_ADDRESS=
RDB_PASSWORD=
RDB_NUMBER=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

GITHUB_TOKEN=

SMS_PROVIDER=
SMS_GATEWAY_API_KEY=
SMS_USERNAME=
SMS_PASSWORD=
SMS_SOURCE=

S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=

SUPER_ADMIN_PHONE=
SUPER_ADMIN_PASSWORD=

PREMM5_API_URL=
BCRA_API_URL=
GAIL_API_URL=
PLCO_API_URL=

MAMOGRAPHY_BUCKETNAME=
CANCER_BUCKETNAME=